
/* - - - - bloque hero - - - - */

.bloque-hero {
    background-image: url(../multimedia/fondo-teka1.png);
    background-size: 100%;
    height: 100%;
    background-blend-mode: multiply;
    padding: 145px 120px 80px 100px;

    h1 {
        color: white;
        margin-top: -10px;
    }

    h3 {
        margin-top: 32px;
        color: white;
    }
}
  
.texto-hero {
    width: 45%;
    justify-content: flex-start;
    color: white;
    padding-top: 5px;
    padding-left: 20px;
}
  
.video-hero {
    justify-content: flex-end;

    iframe {
        width: 726px;
        height: 365px;
        border-radius: 10px;
        border-width: 0px;
        border-style: none;
        box-shadow: 5px 5px 20px 0px #05070b;
    }
}
  
.intro-hero {
    display: flex;
    justify-content: space-between;
}
  
.cta-hero {
    display: flex;
    justify-content: center;
    margin-top: 115px;
}
  
  
 /* - - - - BLOQUE1 (HOME) - - - - */
  
#home-bloque1 {
    padding-top: 160px;
    width: auto;
    margin-bottom: 160px;
}
  
.home-projects-slider {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 70px;
    overflow-x: scroll;
    gap: 30px;

    .pj-slide {
        width: auto;

        img {
            width: 382px;
            border-radius: 15px;
        }
    }

    .bloque-cta {
        margin-left: 60px;
        margin-right: 40px;
        padding: 0px;
     }

    .bloque-cta-btn {
        width: 350px;
        text-align: center;
    }
}

.bloque-cta {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    h3{
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
}
  
  
/* - - - - BLOQUE 2 (HOME) - - - - */
  
.home-bloque2 {
    width: auto;
    overflow: auto;
    margin-bottom: 160px;
}
  
.featured-clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 60px;
    margin-top: 80px;

    img {
        width: auto;
        height: 80px;
        opacity: 80%;
     }
}
  
  
 /* - - - - BLOQUE 3 (HOME) - - - - */
  
.home-bloque3 {
    padding-bottom: 200px;

    .bloque-cta {
        margin-top: 90px;
    }
}
  
.main-servicios {
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 80px;

    .servicio {
        width: 250px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
    
        h3 {
            line-height: 40px;
            margin-bottom: 0px;
        }

        p {
        margin-top: 18px;
        }

        a{
            font-size: 21px;
            font-weight: 600;
            text-decoration: none;
            color: map-get($colores, naranja);
            margin-top: 20px;

            &:hover {
                font-weight: 700;
                color: map-get($colores, azul-sec);
                font-size: 23px;
            }
        }
    }
}

  
.icono-servicio {
    text-align: center;
    margin-bottom: 40px;

    &:hover {
        transform: scale(110%);
    }

    img {
        width: 180px;
        border-radius: 15px;
        box-shadow: 7px 7px 15px 0px rgb(215, 212, 212);
    }
}




 /* - - - - MEDIA QUERIES (HOME) - - - - */

 /* - - - - MOBILE- - - - */

@media screen and (max-width: 500px) {

    /* - - - - bloque hero - - - - */

    .bloque-hero {
        padding: 100px 40px 70px 40px;
        background-size: auto;
        background-blend-mode: normal;

        h1 {
            margin-top: 0px;
        }

        h3 {
            margin-top: 21px;
        }
    }
    
    .texto-hero {
        width: auto;
        justify-content: start;
        padding-top: 5px;
        margin-left: -20px;
    }
    
    .video-hero {
        justify-content: center;

        iframe {
            width: 100%;
            height: 200px;
            border-radius: 5px;
            box-shadow: 5px 5px 20px 0px #05070b;
        }
    }
    
    .intro-hero {
        display: flex;
        flex-flow: column wrap;
        gap: 60px;
        justify-content:center;
    }
    
    .cta-hero {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    
    
    /* - - - - BLOQUE1 (HOME) - - - - */
    
    .home-bloque1 {
        padding-top: 130px;
        width: auto;
        margin-bottom: 30px;
        padding-bottom: 0px;
    }
    
    .home-projects-slider {
        display: flex;
        justify-content: space-between;
        height: auto;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 0px;
        overflow-x: scroll;
        gap: 10px;

        .pj-slide {
            width: auto;

            img {
                width: 156px;
                border-radius: 10px;
            }
        }

        .bloque-cta {
            margin-left: 60px;
            margin-right: 40px;
            padding: 0px;
        }

        .bloque-cta-btn {
            width: 200px;
            text-align: center;
        }
    }

    .bloque-cta {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;

        h3{
            margin-bottom: 20px;
        }
    }
    
    
    /* - - - - BLOQUE 2 (HOME) - - - - */
    
    .home-bloque2 {
        width: auto;
        overflow: auto;
        margin-bottom: 100px;
        padding-bottom: 0px;
        margin-top: -40px;
    }
    
    .featured-clients {
        flex-flow: column wrap;
        gap: 40px;
        margin-top: 60px;
        padding-top: 0px;

        img {
            height: 50px;
        }
    } 
    
    
    /* - - - - BLOQUE 3 (HOME) - - - - */
    
    .home-bloque3 {
        padding-bottom: 100px;

        .bloque-cta {
            margin-top: 20px;
            width: 100%;
        }
    }
    
    .main-servicios {
        margin-top: 60px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
    }
    
    .servicio {
        width: 156px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 50px;

        h3 {
            line-height: 25px;
        }

        p {
            margin-top: 10px;
        }

        a{
            font-size: 14px;
            margin-top: 15px;
        }
    }
    
    .icono-servicio {
        text-align: left;
        margin-bottom: 25px;

        img {
            width: 156px;
            border-radius: 10px;
            box-shadow: 7px 7px 15px 0px rgb(215, 212, 212);
        }
    }

}